@charset "UTF-8";

* {
    font-family: Kanit;
    text-align: justify;
    color: white;
}

body {
    background-color: rgb(24, 24, 24);
    margin: 0;
    max-width: 100hz;
}

header {
    width: auto;
    background-color: rgb(255, 0, 64);
    text-align: center;
    padding-top: 20px;
    height: 50px;
    margin-bottom: 50px;
}

.menu > a{
    margin: 15px;
    text-decoration: none;
    font-size: 17px;
    transition: font-size 0.3s;
}

.menu > a:hover {
    font-size: 18px;
}

.teste , .teste2{
    width: 100%;
    text-align: center;
}

.teste2 {
    text-align: left!important;
}

.foto-perfil {
    width: 30%;
    float: left;
}

.profile {
    width: 70%;
    float: right;
}

.form-container{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    width: 100%;
}

.pfp > img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin: 0 10% 0 10%;
}

.info {
    font-size: 30px;
    padding: 30px;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

a {
    text-decoration: none;
}

.a-sub:hover {
    text-decoration: underline;
}

.form-container {
    background-color: rgb(36, 36, 36);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container h2 {
    margin-right: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(48, 48, 48);
    color: white;
    width: 100%;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: rgb(255, 0, 64);
    outline: none;
    
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 0, 64);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(200, 0, 50);
}

@media screen and (max-width: 1180px){
    section {
        flex-direction: column;
    }

}

@media (max-width: 800px) {
    .foto-perfil {
        width: 100%;
        
    }

    .foto-perfil img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .profile {
        width: 100%;
    }
    
    .form-container{
        width: 100%;
        margin: 0px;
    }

    .menu > a{
        margin: 5px;
    }
}